ul {
  position: relative;
  width: 100%;
  margin: 20px auto 0;
  padding: 20px 0;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    margin-left: -1px;
    height: 100%;
    background: #282828;
  }
}